/* Global Style */
*,
*::before,
*::after *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.header-container {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
}

/* Header Section */
#header-section {
  background-image: url("images/banner/banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 0%;
  text-align: right;
  padding: 100px 0;
}

#header-section .header-article {
  max-width: 550px;
  margin-left: auto;

}

#header-section h1 {
  font-size: 65px;
  color: #151414;
  font-weight: 700px;
}
#header-section p {
  color: #444343;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  margin: 24px 0 32px;
}
.btn-primary {
  border-radius: 5px;
  background: #f15b22;
  border-radius: 5px;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 20px;
  border: none;
}
/* main section */
#main-section{
    display: flex;
    max-width: 1000px;
    align-items: center;
    justify-content: space-between;
    margin: 100px auto;
}
#main-section> *{
    width: 50%;
}